body,html {
    height:1500px;
}
    #map, #mapTwo{
        width:100%;
        height:80%;
    }
    #sched{
        height:100%;
        width:45%;
        background:none;
        border:none;
        padding:0;
    }
    #container{
        height:100%;
    }
    .map-view{
        float:right;
        width:40%;
        height:30%;
        background-color: rgba(255,255,255,.66);
        margin: 2.34375% 0.15625% 0 2.578125%;
        display:inline-block;
        padding:1%;
        border:3px solid #fff;
        font-size:1em;
    }
    #tabs{
        font-size:1em;
        font-family: 'Josefin Sans', sans-serif;
        width:100%;
        height:auto;
        display:inline-block;
        float:left;
        position:inherit;
    }
    #tabs ul li{
        position:inherit;
    }
    @media only screen and (max-width: 630px) {
        .header{
            height:18.5%;
        }
        #container{
            height:75%;
        }
        #sched, #tabs{
            width:98%;
        }
        #sched{
            height:90%;
        }
        .map-view{
            width:95%;
            margin:1% auto;
        }
        #map, #mapTwo{
            width:95%;
        }
        #tabs{
            font-size: .8em;
        }
    }
    @media only screen and (max-width: 424px) {
        .header{
            height:auto;
        }
        #container{
            height:75%;
        }
        #map, #mapTwo{
            height:60%;
        }
        .map-view{
            display:none;
        }
    }
    @media only screen and (max-width: 630px) {
        .header{
            height:auto;
        }
        #container{
            height:75%;
        }
    }
