body{
    max-width:2000px;
    font-size:12pt;
    background:#3a3d42;
    font-family: 'Open Sans', sans-serif;
}
.button{
    background:#fff;
    border:none;
    height:40px;
}
.set{
    width:75%;
}
.container{
    width:98%;
}
.centered{
    margin:0 auto;
}
.textCenter{
    text-align: center;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}
.round{
    border-radius:10px;
}
a i, .social{
    display:inline-block;
    font-size:3em;
    color:#dedfe0;
    padding:2%;
}

.back-link{
    font-size:.75em;
    display: inline-block;
    color:inherit;
}

table{
    display:inline-block;
}

.content{
    width:90%;
    margin:5% auto;
    padding:5%;
    color:#dedfe0;
}
.tickets{
    margin:0 auto;
    width:33%;
    text-align: center;
    padding:2%;
}
.hidden{
    display:none;
}
.hidden h5{
    font-weight: 700;
}
.more, .close{
    margin-bottom:5%;
}
.schedHead h2, #full h2, #full h4{
    color:#c4892f;
}
#gframe{
    width:80%;
    height:1000px;
}
.social-lg{
    font-size: 2em;
}
.sponsorHL{
    width:25%;
    padding:2%;
    height:300px;
    display:inline-block;
    border:1px solid #ececec;
    background: #dedfe0;
    border-radius:10px;
    float:left;
    text-align: center;
    margin:2%;
    color:#3a3d42;
}
.sponsorHL a{
    color:#3a3d42;
    width:100%;
    height:100%;
}
.sponsorHL img{
    width:50%;
    margin:15% auto 5%;
}
.sponsorHL img.lrg{
    width:100%;
    margin:15% auto 5%;
}
.sponsorHL img.small{
    width:40%;
    margin:15% auto 5%;
}
#sponsorArea{
    text-align: center;
}
/*----- HEADER Styles -----*/
.logo{
    width:12%;
    display:inline-block;
    padding:1%;
    float:left;
}
.logo:hover{
    cursor: pointer;
}

header .social{
    font-size:1em;
    margin: 0 1%;
    padding:0;
}

header h1 {
    font-size:2.5em;
    display:inline-block;
    padding:2% 2% 0 2%;
    margin-bottom:0;
    color:#fff;
    font-weight:800;
}

header h5{
    display: inline-block;
    padding:0 2%;
    color:#bfc0c1;
    font-weight:700;
}
/*----- NAV Styles -----*/

nav{
    background:#dedfe0;
    padding-bottom:1px;
}
.mobile{
    display:none;
}
.navbar {
    margin:0;
    list-style:none;
    width:100%;
    text-align: center;
}

.navbar li {
    display:inline-block;
    width:10%;
    position:relative;
    margin-bottom:0;
    z-index: 100;
}

.mobile li{
    width:100%;
    font-size:1em;
    text-align: center;
}

.navbar li a {
    background:#dedfe0;
    text-decoration: none;
    font-weight:600;
    color:#3a3d42;
    width:100%;
    padding:5%;
    display:block;
    text-align:center;
    text-transform:uppercase;
    position: relative;
}
.mobile li a{
    color:#3a3d42;
    width:100%;
    padding:0;
}

.navbar ul {
    position:absolute;
    left:0;
    display:none;
    margin:0;
    padding:0;
    list-style:none;
    width:100%;
}

.navbar ul li {
    width:200px;
    float:left;
    border-top:none;
}


.navbar ul a {
    display:block;
    height:auto;
    padding:2.5%;
    color:#3a3d42;
    text-decoration:none;
    border-top:none;
}

.navbar ul a:hover, .navbar li a:hover {
    background:linear-gradient(to bottom, #c4892f 0%,#bca98d 100%);
    color:inherit;
}

.navbar ul ul {
    position:absolute;
    left:100%;
    top:0;
    margin:0 0 0 -1px;
    padding:0;
    list-style:none;
}


/*----- CTA Styles -----*/
.cta{
    background:url('../images/background2.jpg') top center no-repeat;
    background-size: cover;
    height:800px;
    text-align: center;
}
.cta h2{
    font-size:3em;
    color:#c4892f;
    font-weight:800;
    margin-top:10%;
}
.cta h5{
    color:#dedfe0;
    font-weight:800;
}
.cta .button{
    margin-top:5%;
}
/*----- Location Explore, Featured Films -----*/
.location-explore, .featured-films, .general-info{
    margin-top:5%;
    margin-bottom:5%;
    color:#dedfe0;
    text-align: center;
}
.location-explore h3, .featured-films h3, .general-info h3, .location-wrap h4{
    text-align: center;
    font-weight:700;
    margin-bottom:4%;
}
.location-highlight{
    width:29%;
    height:200px;
    margin:2% 1%;
    background:#dedfe0;
    border-radius:10px;
    color:#3a3d42;
    display:inline-block;
    overflow: hidden;
    text-align: center;
}
.paramount, .paramountp{
    background:url('../images/paramount.jpg');
    background-size:100% 100%;
}
.field, .fieldp{
    background:url('../images/pcoffeeoutside.jpg');
    background-size:100% 100%;
}
.hvcca, .hvccap{
    background:url('../images/hvcca.jpg');
    background-size:100% 100%;
}
.loc{
    margin-top:75px;
    display:inline-block;
    background:rgba(255,255,255,.9);
    width:100%;
    font-size:.8em;
    font-weight:700;
    text-transform: uppercase;
    padding:2%;
}
.location-wrap{
    color:#dedfe0;
    width:80%;
    margin:5% auto;

}
.location-wrap table{
    width:50%;
    font-size: .9em;
}
.paramount-info, .field-info, .hvcca-info{
    margin:20% auto;
}
.map-view{
    float:right;
    display:inline-block;
    position:relative;
    width:50%;
}
#map, #mapTwo, #mapThree{
    width:98%;
    margin:0 auto;
    height:300px;
    color:#3a3d42;
}
.loc-dir{
    display:none;
}

/*----- Films -----*/
.film-img{
    width:25%;
    max-height:450px;
    display:inline-block;
    margin:2%;
}
.film-info{
    width:60%;
    padding:1%;
    margin: 2% auto;
    background:#bfc0c1;
    color:#3a3d42;
    text-align: left;
    display:none;
    font-size:1em;
}

.film-info > h4, .events > h4{
    font-weight: 800;
}
.film-img:hover{
    cursor: pointer;
}

/*----- General Info -----*/
.general-info{
    width:98%;
    margin:10% auto;
    text-align: left;
}
.events, .updates, .info{
    width:90%;
    padding:1%;
    margin:0 auto;
}
.info{
    text-align: center;
}

.info a{
    margin:4% 0;
}


/*----- Presented By/Sponsors -----*/
.presented-by{
    text-align: center;
    background:#dedfe0;
    padding:2%;
}
#sponsorBanner{
    width:80%;
}
#sponsorBanner:hover{
    cursor:pointer;
}
.logo-img{
    width:10%;
    margin:0 auto;
    padding:2%;
}
.logo-img:first-of-type{
    width:25%;
}
.dc{
    width:5%;
}
.presented-by h4, .presented-by h6{
    font-weight:700;
}

/*----- Footer -----*/
footer{
    font-size:.75em;
}

/*----- MEDIA QUERRIES -----*/
@media screen and (max-width:900px){
    .location-wrap{
        width:98%;
    }
}
@media screen and (max-width:815px){
    .set{
        width:100%;
    }
}
@media screen and (max-width:740px){
    .map-view{
        float:none;
        width:100%;
    }
    .location-wrap table{
        width:100%;
        font-size: 1em;
    }
}
@media screen and (max-width:750px){
    .large{
        display:none;
    }
    .mobile{
        display:block;
        width:100%;
        position: relative;
        font-size: 1em;
        text-align: center;
        color:inherit;
    }
    .mobile .threeline{
        font-size: 2em;
        padding:0;
    }
    .mobile .threeline:hover{
        cursor: pointer;
    }
    ul li:hover ul{
        display:block;
        left: 0;
        top: 100%;
    }
    ul.mobile li ul{
        display: none;
        position: relative;
    }
    ul.mobile > li{
        width:100%;
        position:relative;
    }
    ul.mobile ul li ul{
        display:none;
    }
    .navbar ul li{
        width:100%;
    }
    .cta{
        height:500px;
    }
    .sponsorHL{
        width:90%;
        height:auto;
    }
    .film-info{
        width:90%;
    }

}

@media screen and (max-width:635px){
    .events, .updates, .info{
        width:100%;
    }
    .location-highlight{
        width:75%;
    }
}
@media screen and (max-width:635px){
    header{
        text-align: center;
    }
    .logo{
        width:50%;
        float:none;
    }
    .cta{
        height:500px;
    }
}
@media screen and (max-width:355px){
    .location-highlight{
        width:98%;
    }
    .cta h2{
        font-size: 2em;
    }
    .cta h5{
        font-size: 1em;
    }
    .cta{
        height:400px;
    }
    .film-img{
        width:50%;
    }
    .film-info{
        width:98%;
    }
}
