/* Body Elements */

body{
    background-image: url("../images/background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #3a3a3a;
    height:1280px;
    width:100%;
    font-family: 'Josefin Sans', sans-serif;
}

blockquote{
    font-style:italic;
}
blockquote img{
    display:inline-block;
    float:left;
    width:15%;
    margin-right: 10px;
}

/* Header/Nav Elements */

.header{
    position:absolute;
    top: 20px;
    left:0;
    height:110px;
    width:100%;
    background-image: url("../images/header.png");
    background-repeat: no-repeat;
    background-color: #ffffff;
}
#social{
    position:relative;
    margin-top:10px;
    margin-right:5%;
    float:right;
    font-size: 24pt;
}
#social label{
    font-size: 14pt;
}
#social a{
    color:#080430;
}
#nav{
    padding-left:176px;
}
#nav li{
    list-style: none;
    position:absolute;

}
#about {
    position:relative;
    top:70px;
    left:176px;
    background: url('../images/sprite.png') no-repeat -23px -18px;
    width: 78px;
    height: 40px;
}
#about:hover{
    position:absolute;
    top:70px;
    left:176px;
    background: url('../images/sprite.png') no-repeat -117px -18px;
    width: 78px;
    height: 40px;
}
#schedule{
    position:relative;
    top:70px;
    left:262px;
    background: url('../images/sprite.png') no-repeat -23px -74px;
    width: 109px;
    height: 40px;
}
#schedule:hover{
    position:absolute;
    top:70px;
    left:262px;
    background: url('../images/sprite.png') no-repeat -140px -74px;
    width: 109px;
    height: 40px;
}
#updates{
    position:relative;
    top:70px;
    left:379px;
    background: url('../images/sprite.png') no-repeat -23px -130px;
    width: 99px;
    height: 40px;
}
#updates:hover{
    position:absolute;
    top:70px;
    left:379px;
    background: url('../images/sprite.png') no-repeat -132px -130px;
    width: 99px;
    height: 40px;
}
#contact{
    position:relative;
    top:70px;
    left:486px;
    background: url('../images/sprite.png') no-repeat -23px -186px;
    width: 99px;
    height: 40px;
}
#contact:hover{
    position:absolute;
    top:70px;
    left:486px;
    background: url('../images/sprite.png') no-repeat -132px -186px;
    width: 99px;
    height: 40px;
}
#submit{
    position:relative;
    top:70px;
    left:593px;
    background: url('../images/sprite.png') no-repeat -23px -242px;
    width: 84px;
    height: 40px;
}
#submit:hover{
    position:absolute;
    top:70px;
    left:593px;
    background: url('../images/sprite.png') no-repeat -122px -242px;
    width: 84px;
    height: 40px;
}
#share{
    position:relative;
    top:70px;
    left:685px;
    background: url('../images/sprite.png') no-repeat -23px -298px;
    width: 84px;
    height: 40px;
}
#share:hover{
    position:absolute;
    top:70px;
    left:685px;
    background: url('../images/sprite.png') no-repeat -122px -298px;
    width: 84px;
    height: 40px;
}
#nav a{
    width: 100px;
    height:50px;
    display:block;
}
ul li ul {
    padding:0;
    display:none;
    visibility: hidden;
    position:absolute;
    left:0;
    text-align: left;
    line-height: 200%;

}
ul li ul li {
    display: inline-block;
    position:relative;
}
ul li:hover ul{
    position: absolute;
    top:40px;
    /*left:-25px;*/
    display: inline-block;
    visibility: visible;
    background-color: rgba(206,206,206,1.0);
    width:240px;
    min-height:30px;
    max-height: 200px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
#nav li ul li{
    list-style: none;
    position: relative;
    display:block;
    font-size: 18pt;
    padding-left:2%;
}
#nav li ul li:hover{
    background-color: gray;
}

/* Content */

#container {
    width:95%;
    height: 100%;
    margin: 12.5% auto 0 auto;
}

#showinfo {
    height: 70.3125%;
    width: 52.6875%;
    background-color: rgba(255,255,255,.66);
    margin: 30px 2px 0 33px;
    display:inline-block;
    padding:2%;
    border:3px solid #fff;
}

#showinfo p{
    font-size: 16pt;
}

#events{
    height:32.96875%;
    width:73%;
    background-color: rgba(255,255,255,.66);
    display:inline-block;
    float:right;
    margin: 30px 5% 0 0;
    padding: 0 2%;
    border:3px solid #fff;
}

#eventupdates{
    clear:right;
    height:32.96875%;
    width:63%;
    background-color: rgba(255,255,255,.66);
    display:inline-block;
    position:relative;
    float:right;
    margin: 30px 10% 0 0;
    padding:2%;
    border:3px solid #fff;
}
#wrapper{
    display:inline-block;
    width:40%;
    height:100%;
    float:right;

}

#container h1{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 24pt;
}

#container h2{
    font-family: 'Abril Fatface', cursive;
}

#container a:link, #container a:visited, #container a:active, #container a:hover {
    color:#000;
}
/*Footer*/

footer{
    width:100%;
    height:15.625%;
    background-color: #fff;
    vertical-align: bottom;
    padding:0;
    left:0;
    position:absolute;
}

